{% extends 'base.html'%}

{% block title%}
Dashboard
{% endblock %}

{% block content %}

	{% if request.user.is_authenticated %}
		<div>
			<h1>Area do dashboard restrita</h1>
			<br>
			Bem Vindo
		</div>
		<div class="col-3 p-2 m-2 bg-secondary">
				<a class="text-white" href="{% url 'logout' %}">Sair</a>
			</div>
			<div class="col-3 p-2 m-2 bg-secondary">
				<a class="text-white" href="/mudar-senha/">Mudar senha</a>
			</div>

	{% else %}
		<p>Vc não tem acesso a essa area</p>
		<div class="col-6 m-auto mt-5">
		
		<div class="row m-auto">
			<div class="col-3 p-2 m-2 bg-secondary">
				<a class="text-white" href="{% url 'login' %}">Login</a>
			</div>

			<div class="col-3 p-2 m-2 bg-secondary">
				<a class="text-white" href="{% url 'cadastro' %}">Cadastro</a>	
			</div>
			
			
			
		</div>
		
		
	</div>

	{% endif %}

{% endblock%}